{% extends 'core/base.html' %}

{% block title %}{{ room.name }} | {% endblock title %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">{{ room.name }}</h1>
</div>


<div class="mx-4 lg:mx-auto bg-white rounded-xl p-4 lg:w-2/4">
    <div class="space-y-3 chat-message" id="chat-messages">
        {% for message in chat_messages %}
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">{{ message.user.username }}</p>
            <p>{{ message.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>



<div class="mx-4 lg:mx-auto bg-white rounded-xl p-4 lg:w-2/4 mt-4">
    <form action="." method="post" class="flex">
        <input type="text" name="content" class="flex-1 mr-3 focus:outline-none" placeholder="Your message...."
            id="chat-message-input">

        <button class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700"
            id="chat-message-submit">Send</button>
    </form>
</div>

{% endblock content %}

{% block script %}
{{ room.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    const userName = JSON.parse(document.getElementById('json-username').textContent)
    const chatSocket = new WebSocket(
        `ws://${window.location.host}/ws/${roomName}/`
    )

    chatSocket.onmessage = function (e) {
        console.log('onmessage')
        const data = JSON.parse(e.data)
        if (data.message) {
            let html = '<div class="p-4 bg-gray-200 rounded-xl">'
            html += `<p class="font-semibold">${data.username}</p>`
            html += `<p>${data.message}</p>`
            html += '</div>'
            document.getElementById('chat-messages').innerHTML += html

            scrollToBottom()

        } else {
            alert('The message was empty!')
        }
    }

    chatSocket.onclose = function (e) {
        console.log('onclose')
    }

    //

    document.getElementById('chat-message-submit').onclick = function (e) {
        e.preventDefault()
        const messageInputDom = document.getElementById('chat-message-input')
        const message = messageInputDom.value
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }))

        messageInputDom.value = ''
        return false
    }

    //

    function scrollToBottom() {
        const objDiv = document.getElementById('chat-messages')
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    scrollToBottom()
</script>
{% endblock script %}